@font-face {
    font-family:thisone;
    src: url(RobotoMono-Bold.ttf);
}
html {
    background:white;}
image 
body {text-align: left};
/* Start https://www.cursors-4u.com */ * {cursor: url(https://ani.cursors-4u.net/cursors/cur-13/cur1157.ani), url(https://ani.cursors-4u.net/cursors/cur-13/cur1157.png), auto !important;} /* End https://www.cursors-4u.com */;
}
img{
    height:250px;
    width:auto;
}    
h1{font-family:thisone;}